<p>Paises</p>
<hr>
<div class="row">
    <div class="col">
        <!-- escuchamos el evento (por eso los paréntesis) emitido por pais-input.component  
        cuando nosotros pulsamos una tecla se disparará onDebounce.
        -->
        <app-pais-input
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias($event)"
            placeholder="Buscar país...">
        </app-pais-input>
    </div>
</div>
<ul class="list-group">
    <li *ngFor="let pais of paisesSugeridos" class="list-group-item list-group-item-action">
        <a [routerLink]="['/pais', pais.cca2]"></a>
    </li>
</ul>

<hr>
<div *ngIf="error" class="alert alert-danger">
    ¿{{pais}}... Ese país realmente existe?
</div>
<div class="row" *ngIf="paises.length>0">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>