<div *ngIf="!pais; else divPais" class="alert alert-info">
    Espere por favor...
</div>
<ng-template #divPais>
    <div class="row">
        <div class="col-3"><img [src]="pais.flag" class="medium-flag"/></div>
        <div class="col-9">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Nombre</strong> {{ pais.name }}
                </li>
                <li class="list-group-item">
                    <strong>Abreviatura</strong> {{ idPais }}
                </li>
                <li class="list-group-item">
                    <strong>Población</strong> {{ pais.population }}  
                    <!-- || poblacion, también funciona. -->
                </li>
                <li class="list-group-item">
                    <strong>Region</strong> {{ pais.region }}
                </li>
                <li class="list-group-item">
                    <strong>Independencia</strong> {{ independencia }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="mt-5">
            lenguajes:
            {{ pais.languages | json}}
        </p>
    </div>
</ng-template>